body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: #cbe6ca;
    color: #333;
}

.resume {
    max-width: 1000px;
    margin: 20px auto;
    background: whitesmoke;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
